<!DOCTYPE HTML>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <% include ./partials/nav.ejs %>

    <link rel="icon" type="image/jpg" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png">
    <title>Badges - Discord Bot Reviews</title>
  </head>
  <body>
    <noscript>
        <div class="alert alert-danger" role="alert">
          This website requires Javascript to work. Please enable Javascript or use a browser that supports Javascript.
        </div>
    </noscript>
    <div class="container">
    <h1>
      All about badges
    </h1>
    <hr>
    There are 7 badges in total.<br>
    These badges are given out to users OR bots and they do have a type.<br><br>
    <h2>User Badges</h2>
    <hr>These badges are only given out to users<br><br>
    <img src="https://cdn.discordapp.com/emojis/507680644416012299.png" title="Administrator Badge" class="badge-img" width="150px" height="150px">
    <span style="display:inline-block;"><h1>
      Administrator Badge
      </h1>
      <br><br>
      This badge is used to indicate that a user is an administrator of the website.
    </span><br><br><br>
    <img src="https://cdn.discordapp.com/emojis/507668351368036382.png" title="Moderator Badge" class="badge-img" width="150px" height="150px">
    <span style="display:inline-block;"><h1>
      Moderator Badge
      </h1>
      <br><br>
      This badge is used to indicate that a user is an moderator of the website. <br>Anyone who has the Administrator Badge will have the permission of this badge too.<br> Moderators have all of the user perks from certification <br>
      
    </span><br><br><br>
      <img src="https://cdn.discordapp.com/emojis/507958292790902795.png" title="Certified User Badge" class="badge-img" width="150px" height="150px">
    <span style="display:inline-block;"><h1>
      Certified User
      </h1>
      <br><br>
      This badge is used to indicate that at least 1 of the bots that the user owns is certified/unique.<br>
      Certified Users get special perks which can be found at the <a href="/certification">certification</a> page
    </span><br><br><br><br>
         <img src="https://cdn.discordapp.com/emojis/637971528792670218.png" title="Library Creator badge" class="badge-img" width="150px" height="150px">
    <span style="display:inline-block;"><h1>
      Library Creator
      </h1>
      <br><br>
      This badge is used to indicate that this user has created a library that was approved <br>
      by an admin as a part of our API libraries.
      <br>
      Badge gives only a purple pulsing avatar around your profile. 
      </span><br><br>
      <br><br>
      <h2>Bot Badges</h2>
      <hr>These badges are only given out to qualified bots<br><br>
      <img src="https://cdn.discordapp.com/emojis/528968068957732865.png" title="Admin Bot" class="badge-img" width="170px" height="170px">
      <span style="display:inline-block;"><h1>
        Admin Bot
        </h1>
        <br><br>
        This badge is used to indicate that this is a website bot
        <br>
        Website bots are bots that do stuff in the server.
        </span>
        <br><br>
      <br><br>
      <img src="https://cdn.discordapp.com/emojis/507958292790902795.png" title="Unique Bot" class="badge-img" width="150px" height="150px">
    <span style="display:inline-block;"><h1>
      Unique Bot
      </h1>
      <br><br>
      This badge is used to indicate that a bot has at least 1 unique features that less than 50% of bots have, <br>easy to use, <br>runs 24/7, <br>and has been programmed with great care.<br>
      <a href="/certification">Click here</a> to learn more about certification.
    </span><br><br><br>
      <img src="https://cdn.discordapp.com/emojis/508965618855444491.png" title="Very Unique Bot" class="badge-img" width="150px" height="150px">
    <span style="display:inline-block;"><h1>
      Very Unique Bot
      </h1>
      <br><br>
      This badge is used to indicate that a bot has a lot of unique features and some features that less then 20% of bots have. <br>This is the rarest bot badge. The requirements from the Certified Bot badge also apply.<br>
      To get this badge, you must own a very unique and useful bot, which is the most difficult thing to do.
<br>      
Bots with this badge will stand out all around the browse pages.
<br>
    </span>
    <br><br><br><br>
    <h2>Other Badges/Icons</h2>
    <hr>
     Other badges or icons that are shown around the website
     <br><br>
     <img src="https://cdn.discordapp.com/emojis/515950426181468163.png" title="Bot Owner" class="badge-img" width="150px" height="150px">
     <span style="display:inline-block;">
       <h1>Bot Owner</h1>
       <br><br>
       This badge is used to indicate that the commenter is the bot owner.
       <br>
       Badge has no special functions, only shows itself on bot pages.
       <br>
       Only seen in comments.
       </span>
       <br><br><br>
       <h2>Unused/Discontinued Badges/Icons</h2>
       <hr>
       <br><br><br>
       <img src="https://cdn.discordapp.com/emojis/508331063282499585.png" title="Unused icon" class="badge-img" width="150px" height="150px">
       <span style="display:inline-block;">
         <h1>Unused certified user/bot badge</h1>
         <br><br>
         This was an old unused certified user/bot badge that was replaced with the black one.
         <br>
         Badge is still usable as an emoji in the server.
         <br>
  </span>
    </div><br><br><br><br>
  </body>
</html>