<!doctype html>
<html prefix="og: http://ogp.me/ns#">
    <head>
    <% include ./partials/header.ejs %>
    <% include ./partials/nav.ejs %>

            <link rel="icon" type="image/jpg" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png">
            <title>Commenting Rules - Discord Bot Reviews</title>
    </head>
    <body>
    
          <noscript>
            <div class="alert alert-danger" role="alert">
                This website requires Javascript to work. Please enable Javascript or use a browser that supports Javascript.
            </div>
        </noscript>
        <div class="container">
            <h1>Comments</h1>
            <hr>
            As a part of our site features, yes, we do allow comments on bots, but, don't think that there are no rules for it.
          <hr>
          <h1>How can I use the commenting system?</h1>
          <br>
          You may post a comment to the bot you wish to, leaving a review/feedback about the bot. 
          <br>
          Do not use comments to troll/chat.
          <hr>
          <h2>Rules</h2>
          <br>
          1. Do not use commenting system for self promotion.
          <br>
          2. Do not flood the comment section.
          <br>
          3. Please do not harass the developer/owner of the bot.
          <br>
          4. Don't post racist/offensive comments. (This does not mean you are not allowed to post negative feedback, this means that you should not post comments that are can be very offensive towards other people)
          <br>
          5. Do not ask people to post positive content/try to make your bot sound good if it's not good. (This means: inviting people to post good feedbacks about your bot so people get attracted to it when it's not. THIS SAME includes for disliking, no posting fake reviews to trick people into thinking it's that.)
          <br>
          <br>
          Website Moderators serve the right to ban/delete your comment if it violates the rules.
          <hr>
          <h2>I'm a bot owner, why can't I delete other people's comments?</h2>
          <br>
          This is intentional, we do not allow bot owners to delete user's comments. 
          <br>
          Why?
<br>
          Because that will remove the "reviews" part of our feature, by these words if someone dislikes a bot and posts negative feedback about it, bot owners can easily hide it by deleting the comment.
          <br>
          <br>
But, if you believe the comment is violating the rules you may report it to our moderators in the <a href="https://discord.gg/A2BYrj8">Discord Server</a>
          <br>
          <br>
          <hr>
          <h2>Hidden Comments</h2>
          <br>
          <p>By default, banned user's comments are hidden.
            <br>  
            This means, they are NOT deleted, but however they are not shown in the comments page.
        <br>
        We hide banned user's comments for many reasons, but however, these comments can be seen via the <code>/api/bot/:id/comments</code> API endpoint.
        </p>
          <br>
          <br>
      </div>
 </body>
</html>