<!doctype html>
<html prefix="og: http://ogp.me/ns#">
    <head>
    <% include ./partials/header.ejs %>
    <% include ./partials/nav.ejs %>

            <link rel="icon" type="image/jpg" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png">
            <title> Bot Requirements - Discord Bot Reviews</title>
    </head>
    <body>
          <noscript>
            <div class="alert alert-danger" role="alert">
                This website requires Javascript to work. Please enable Javascript or use a browser that supports Javascript.
            </div>
        </noscript>
        <div class="container">
            <h1>Requirements for Approval</h1>
            <hr>
            <br>
            You must meet all of the requirements to get approved. (If your bot is not a multi-purpose bot, ignore the #5 requirement.)
            <br><br>
        1. Your bot must be 100% original, not a clone nor a modified clone
        <br>
        <code>Bot clones are not good, these types of bot can be easily obtained by forking them on GitHub or downloading them directly. 
            And yes, modified clones may sound like an idea of getting started to making discord bots, but still we don't allow that.
        </code>
        <hr>
        2. 80% or more of your bot commands/features has to work
        <br>
        <code>In this list, we don't accept bad bots that don't work at all, please make sure your bot actually works before submitting it to the public.</code>
        <hr>
        3. NSFW features must stay in NSFW channels (google and urban is tolerated)
        <br>
        <code>Having NSFW in SFW is gross, and not something people wanna see.</code>
        <hr>
        4. Your bot must be online when we try to review it
        <br>
        <code>No one wants to review an offline bot, because they don't work when they are offline.</code>
        <hr>
        5. If your bot is a multi-purpose bot, it must have at least 6 commands (This does not include info, serverinfo, botinfo or any sort of information)
        <br>
        <code>Multi-purpose bots have lots of features in one bot. If they are multi-purpose, they better be something big.</code>
        <hr>
        6. Your bot must have a working help command (explanation in description is not accepted)
        <br>
        <code>Your bot is public when you are submitting it here, which means it should have documentation written on the bot's help commands OR on a website that belongs to the bot.</code>
<hr>
7. Your bot must be at least 80% english OR has english as an optionable language
<br>
<code>This isn't an international bot list where we allow bots that do not support English, I mean, if your bot does not have support 
    for English, how can anyone know what it does and is it worth the try if no one understands the language other than the people who speak that language?
</code>
<hr>
8. Your bot cannot have an open eval/exec command 
<br>
<code>Anyone who can use eval or exec command can literally do anything they want with your bot. And that can result into nuking other people's servers,
    so do NOT bother submitting a bot with open eval command.
</code>
<hr>
9. Your bot description must be relavant about your bot and not filled with junk/things not relavant about your bot
<br>
<code>Bot descriptions are made to describe the bot, not describe anything else. You may have description of it's support server, website, etc.
    but 90% of your description must be relavant to the bot. 
</code>
<hr>
10. 50% or more of your bot's commands must be public and open to everyone
<br>
<code>If all of your bot's commands are literally private OR only locked to developers/whitelisted users then what's the point of submitting
    it to a public listing site?
</code>
<hr>
<h1>We do not allow these types of bots</h1>
<br>
<br>
- Discord API abuse bots
<br><br>
- Bot/server listing/bumping bots
<br><br>
- Bots that do nothing but promote something
<br><br>
- Bots that you do not own (You must 100% confirmed to be the owner of the bot you are submitting)
<br><br>
- Do not force users to join your Discord server. (This means requiring "Join servers for you" in the OAUTH page and after adding the bot it adds you to a server)
<br><br><br>
<center>If you think your bot meets all of the requirements, then go ahead and <a href="/submit">submit it.</a></center>
        <br><br><br>
      </div>
 </body>
</html>