<!DOCTYPE HTML>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <% include ./partials/nav.ejs %>

    <link rel="icon" type="image/jpg" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png">
    <title>Certification - Discord Bot Reviews</title>
  </head>
  <body>
    <noscript>
        <div class="alert alert-danger" role="alert">
          This website requires Javascript to work. Please enable Javascript or use a browser that supports Javascript.
        </div>
    </noscript>
    <div class="container">
    <h1>
      Unique/Certification 
    </h1>
    <hr>
      <h2>What is unique verification/certification?</h2><hr><br>
      Certified, or unique 'bots' are bots that are different than the others, in our bot listing site, we are looking for good, simple to use, 24/7 and high quality programmed bots.
      <br><br>
      <h3>What are the requirements for unique/certification? </h3><hr><br>
      1. Your bot must have 24/7 hosting, with being offline as less as possible.
      <br>
      <code>Bots that frequently go offline are not good at all.</code>
      <br><br>
      2. Your bot must be easy to use (this means: has good explanation on how to use commands, it's features as so on) every command should have good explanation on what it does
      <br>
      <code>A complicated bot filled with junk/trash/bad English and a bunch of messy commands and lack of description of what command does what
        is not something you want to use.</code>
      <br><br>
      3. Your bot must be high quality programmed (this means: does not respond to other bots, does not have frequent issues such as crashes often, trouble executing commands, and also it must return an error if it fails to execute a command properly)
      <br>
    <code>We're pretty sure no one likes a bot that does not give it's status on whenether a command was executed or not, also nobody would invite a bot that
      crashes way too often due to owner being too lazy to care.
    </code>
      <br><br>
      4. Your bot must have at least 1 unique feature that less than 50% of today's Discord bots have (This does not mean the bot only has 1 unique command that other bots don't have)
<br>(And that unique feature must be a useful feature that is practical and is useful to any Discord user and does a task that is harder for humans to do manually)
      <br>
      <code>The idea of this type of certification is to shine a golden bot that is way different than most of the others, we all like to try
        out bots that are rare to find and contains something very usefull no one would ever come up with.
      </code>
      <br><br>
      5. You must have an official support server invite on your bot.
      <br>
      <code>A bot that does not have a support server will make it impossible for everyone to figure out how to use it or how to get help. (yeah websites are good alternates
        but not everyone has a good brain)
      </code>
      <br><br>
      (NOTE: Your bot and you must both STAY in the server to keep the certification, leave the server and you will lose your certification)
      <br><br><h3>What perks do I get?</h3><hr>
      <p>NOTE: these perks only apply to the website, not the server.</p>
      <br>
      <h4> User Perks</h4>
      <br>
  
  <div class="card" style="float:left;background-color: #2f2f2f; width:40%;height:50%;border-radius:10px;margin-right:2rem;">
<img align="left" src="https://cdn.discordapp.com/emojis/507958292790902795.png" width="50px" style="background: -webkit-linear-gradient(yellow 60%, black); -webkit-background-clip: text; -webkit-text-fill-color: transparent; ">
  </img>
<center><div class="card-content"><h4 style="font-weight:bold;">Get a cool badge</h4></div>
  <br>
<div class="card-content">A unique developer deserves a unique badge</div>
</center>
<br><br><br>
  </div>

  <div class="card" style="background-color: #2f2f2f; width:40%;height:50%;border-radius:10px;">
    <div align="left" class="fa fa-image fa-3x" style="background: -webkit-linear-gradient(#f12711 60%, #f5af19); -webkit-background-clip: text; -webkit-text-fill-color: transparent; ">
    </div>
    <center><div class="card-content" ><h5 style="font-weight:bold;">Customize background image at profile</h5></div>
      <br>
    <div class="card-content">Customize your background profile</div>
    </center>
    <br><br><br>
      </div>
      <br>
      <div class="card" style="float:left;background-color: #2f2f2f; width:40%;height:50%;border-radius:10px;margin-right:2rem;">
        <div align="left" class="fa fa-paint-brush fa-3x" width="50px" style="background: -webkit-linear-gradient(#8A2387 60%, black); -webkit-background-clip: text; -webkit-text-fill-color: transparent; ">
        </div>
        <center><div class="card-content"><h5 style="font-weight:bold;">Customize your comment's <br>background with image or color</h5></div>
          <br>
        <div class="card-content">Make your comments fancy with custom image or color at the comment's body background. (Available via user page)</div>
        </center>
        <br>
          </div>
      
      <div class="card" style="background-color: #2f2f2f; width:40%;height:50%;border-radius:10px;">
        <class align="left" class="fa fa-circle fa-3x" width="50px" style="background: -webkit-linear-gradient(#6DD5FA 50%, #FFFFFF); -webkit-background-clip: text; -webkit-text-fill-color: transparent; ">
        </class>
        <center><div class="card-content"><h5 style="font-weight:bold;">Pulsing circle at pfp with custom color</h5></div>
          <br>
        <div class="card-content">Get a pulsing avatar with custom color</div>
        </center>
        <br><br><br>
          </div>
<br><br>
<h4>Bot Perks</h4>
<div class="card" style="float:left;background-color: #2f2f2f; width:40%;height:50%;border-radius:10px;margin-right:2rem;">
  <img align="left" src="https://cdn.discordapp.com/emojis/507958292790902795.png" width="50px" style="background: -webkit-linear-gradient(yellow 60%, black); -webkit-background-clip: text; -webkit-text-fill-color: transparent; ">
    </img>
  <center><div class="card-content"><h4 style="font-weight:bold;">Bot Badge</h4></div>
    <br>
  <div class="card-content">Unique or very unique, it's fancy</div>
  </center>
  <br><br><br>
    </div>
  
    <div class="card" style="background-color: #2f2f2f; width:40%;height:50%;border-radius:10px;">
      <div align="left" class="fa fa-link fa-3x" style="background: -webkit-linear-gradient(#FFFFFF 60%, #434343); -webkit-background-clip: text; -webkit-text-fill-color: transparent; ">
      </div>
      <center><div class="card-content" ><h5 style="font-weight:bold;">Vanity URL</h5></div>
        <br>
      <div class="card-content">Give your bot it's own url that can make it easier to find</div>
      </center>
      <br><br><br>
        </div>
        <br>

      <br><br><hr>
      <br> <a href="/certification/apply" class="btn btn-primary hover-active-button">Apply for certification</a>
      <!-- So, do you think your bot meets the requirements? If so, go ahead and apply.
    </div><br><br><br>
    <center><button class="btn btn-primary btn-md my-2 my-sm-0 ml-3" type="submit">Apply for certification</button></center>-->
    <br><br><br>
  </body>
</html>
