<html>
  <head>
    <title>Submission failed - DBR</title>
    <% include ./partials/portalHeader.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div class="container">
      <center><h1>Bot submission failed</h1>
      <br>
       <%=message%>
        <br><br>
        <button class="btn btn-primary" onclick="window.history.back()">Go back</button>&nbsp;&nbsp;  <a href="/" class="btn btn-primary">Home</a>
      </center>
  </body>
</html>
  
      
