<html>
  <head>
    <title>Submission successfull - DBR</title>
    <% include ./partials/portalHeader.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div class="container">
      <center><h1>Report successfully submitted</h1>
      <br>
       Our moderators will review it soon
        <br><br>
        <a href="/" class="btn btn-primary">Home</a>
      </center>
  </body>
</html>
  
      
