<html>
  <head>
    <title>Submission successfull - DBR</title>
    <% include ./partials/portalHeader.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div class="container">
      <center><h1>Bot submission successfull</h1>
      <br>
       <%=message%>
        <br><br>
      <a href="/" class="btn btn-primary">Home</a> &nbsp;&nbsp;<a href="/bot/<%=idbot%>" class="btn btn-primary">View bot</a> 
      </center>
  </body>
</html>
  
      
